.containerCustom {
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9!important;
  min-width: 100%;
  min-height: 100vh;
  align-items: center;
}

.containerCustom h1 {
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 5px black;
}

.MyLogo{
  position: absolute;
  left: 10px;
  bottom:50px;
}

.customBtn {
  height: 40px;
  width: 300px;
  margin-bottom: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
  border: 5px solid rgb(0, 135, 153);
}

.ean-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  border: 7px solid rgb(0, 135, 153);
  border-radius: 20px;
  padding: 20px;
  background-color: black;
}

.ean {
  text-align: center;
  width: 155px;
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.ean:hover {
  background-color: #6d6d6d;
  transform: scale(1.2);
}
.copied,
.ean.copied:hover {
  background-color: rgb(0, 135, 153);
}

.modal {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transition: ease-in-out 0.5s;
  transform: translate(-50%, -50%);
  color: white;
  background-color:#000000;
  padding: 20px;
  border: 5px solid #008799;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}