body {
  background-color: #c9c9c9;
}

.contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 30px 30px;
}

.contaier h1 {
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 5px black;
}

button {
  height: 40px;
  width: 300px;
  margin-bottom: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
  border: 5px solid rgb(0, 135, 153);
}

.ean-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  border: 7px solid rgb(0, 135, 153);
  border-radius: 20px;
  padding: 20px;
  background-color: black;
}

.ean {
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
}

.ean:hover {
  background-color: #6d6d6d;
}
.copied,
.ean.copied:hover {
  background-color: rgb(0, 135, 153);
}
